* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  background: #ebe7e7;
}

.header {
  text-align: center;
  background: #e0dddd;
  padding: 32px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
}
.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 4px;
}
.gallery img {
  width: 25%;
  height: 300px;
  object-fit: cover;
  margin-top: 8px;
  padding: 0 4px;
  border-radius: 10px;
}

/* media query for tablet  */

@media (max-width: 800px) {
  .gallery img {
    width: 50%;
  }
}
